$light-grey: rgb(232, 232, 232);
$yellow: #ffc229;
$gray: rgb(208, 208, 208);
$outline: #CCCCCC;
    
.sign-in-btn {
    height: fit-content;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    p {
        font-size: .7em;
        margin: 0 0 0 10px;
    }

}

.sidebar {
    background-color: $light-grey;
    width: 15%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .profile {
        margin-bottom: 10px;
        padding-left: 15px;
        padding: 20px 20px 0 35px;

        img {
            border-radius: 5%;
        }

        .info {
            .name {
                font-size: 1.2em;
                font-weight: bold;
                margin: 0;
            }

            .credits {
                margin: 0;
            }
        }

    }
    
    hr {
        border: none;
        height: 1px;
        background-color: gray;
        width: 100%;
    }

    .menus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 20px 10px 20px;   

        .last-option {
            
        }

        .menu-option {
            margin: 0;
            border: none;
            border-radius: 25px;
            padding: 10px 15px;
            margin: 0 0 10px 0;
            font-size: 1em;
            cursor: pointer;
            width: fit-content;
            font-weight: bold;
            background-color: rgb(232, 232, 232);
        }
        .menu-option:hover {
            background-color: $yellow;
        }
    }
}

.dashboard-stats {
    width: 85%;
    padding: 0 50px;
    overflow: hidden;

    .campaign, .contribution {

        .title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .data {
            display: flex;

            .numbers {
                background-color: rgb(217, 216, 216);
                padding: 10px;
                border-radius: 5px;
                margin-right: 25px;
                width: 120px;

                label {
                    font-size: 1.2em;
                }

                p {
                    font-size: 2.5em;
                    font-weight: bold;
                    margin: 10px 0;
                }
            }
        }
    }
}

.companies {
    padding: 25px 50px 0 50px;
    width: 100%;
    overflow-y: scroll;

    hr {
        margin: 25px 0 0 0;
        border: none;
        height: 1px;
        background-color: $light-grey;
    }

    .up {
        display: flex;
        justify-content: space-between;

        .contribute-btn {
            border: none;
            padding: 10px;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            background-color: black;
            color: whitesmoke;
            border-radius: 5px;
            cursor: pointer;

            span {
                margin-left: 5px;
            }
        }

        .contribute-btn:hover {
            background-color: $yellow;
            color: black;
            border: none;
        }

    }

    .list {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .company {
            display: flex;
            flex-direction: column;

            width: auto;
            padding: 10px 20px;
            background-color: $light-grey;
            border-radius: 5px;
            margin: 0 0 25px 0;

            .identity {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;    
                    border-radius: 50%;
                    border: 1px solid black;
                }

                .details {
                    margin-left: 15px;

                    .up {
                        display: flex;
                        align-items: center;

                        .name {
                            font-size: 1.2em;
                            font-weight: 500;
                            margin: 0 25px 0 0;
                        }

                        .location-size {
                            display: flex;
                            flex-direction: row;
                            height: 30px;
        
                            .location {
                                margin-right: 25px;
                            }
        
                            .location, .size {
                                display: flex;
                                align-items: center;
        
                                span {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }

                    a {
                        font-size: 14px;
                    }
                }        
            }
        }

            .details {
                margin-top: 10px;

                .roles, .skills {
                    width: 100%;

                    label {
                        font-weight: 500;
                    }

                    p {
                        font-size: small;
                        margin: 0;
                        margin-top: 5px;
                        font-weight: 500;

                        span {
                            display: inline-block;
                            background-color: $gray;
                            width: max-content;
                            border-radius: 25px;
                            padding: 5px 15px;
                            margin: 0 10px 10px 0;
                        }
                    }
                }
            }
        }
    }

.search-box {

    input {
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2em;
        border: 1px solid black;
        width: 345px;
    }
}

.contribution-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 50px;

    .heading {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
    }

    .inputs {
        overflow: scroll;

        .input {
            display: flex;
            flex-direction: column;
            margin: 10px 0 20px 0;

            input, select {
                padding: 10px;
                font-size: 1em;
                outline: none;  
                border-radius: 5px;
                border: 1px solid black;
                width: 250px;
            }
        }

        button {
            padding: 10px;
            font-size: 1.2em;
            border-radius: 5px;
            border: none;
            width: 270px;
            background-color: black;
            color: whitesmoke;
        }

        button:hover {
            background-color: $yellow;
            color: black;
            border: none;
            cursor: pointer;
        }
    }
}

.templates-container {
    width: 85%;

    display: flex;
    
    .templates {
        flex: 1;
        padding: 20px;
        background-color: $light-grey;

        h1 {
            margin: 0 0 10px 0;
        }

        .template-item {
            color:#1532f1; 
        }

        .template-item:hover {
            cursor: pointer;
            background-color: $yellow;
        }
    }
}

.editor-form {
    flex: 2;
    padding: 20px;

    h1 {
        margin: 0 0 10px 0;
    }

    form {
        display: flex;
        flex-direction: column;

        background-color: $light-grey;
        padding: 20px;
        border-radius: 10px;


        label {
            color: rgb(75, 75, 75);
            margin-bottom: 5px;
        }

        .subject, button {
            padding: 10px 10px;
            font-size: 1em;
            border: none;
            outline: 1px solid $outline;
            background-color: transparent;
        }

        button {
            background-color: #ffc229;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
        }
    }

}