.sign-in-btn {
    height: fit-content;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


    p {
        font-size: .7em;
        margin: 0 0 0 10px;
    }

}